<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monsun.suiicao">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppVar"
        android:allowBackup="true"
        android:icon="@drawable/tstudy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuiiCao"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.useraccount.Mentorinformation.MentorInformation">
        </activity>

        <service
            android:name=".Notification.MyFCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".views.liststudent.studentinformation.Student_info"
            android:parentActivityName=".views.liststudent.ListStudent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.liststudent.ListStudent" />
        </activity>
        <activity
            android:name=".views.liststudent.ListStudent"
            android:parentActivityName=".views.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.main.MainActivity" />
        </activity>
        <activity
            android:name=".views.chatting.message.MessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".views.curriculum.CurriculumActivity" />
        <activity android:name=".views.timetable.TimetableActivity"
            android:parentActivityName=".views.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.main.MainActivity" />
        </activity>
        <activity android:name=".views.study.StudentExamActivity"
            android:parentActivityName=".views.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.main.MainActivity" />
        </activity>
        <activity android:name=".views.useraccount.studentinformation.StudentInformationActivity" />
        <activity
            android:name=".views.main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".views.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.result.ResultActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".views.imagepicker.ImagePickerActivity" />
        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>